.priceDetails {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.priceItem, .priceTax, .priceTotal {
  display: flex;
  align-items: center;
}

.itemTitle {
  width: 200px;
  text-align: right;
  margin-right: 10px;
}

.itemPrice {
  width: 50px;
  text-align: left;
}

